/* ==============================
   RESET
================================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variable de la page */
:root {
    --primary: #0b4ea2;
    --primary-dark: #073570;
    --primary-light: #eaf3ff;

    --dark: #071a33;
    --text: #4b5563;
    --light: #f5f8fc;
    --white: #ffffff;

    --border: #e5eaf1;

    --radius: 20px;
    --max-width:1200px;
}

body{
    background-image: url("../img/bg-image.jpeg");
    background-size: cover;
background-repeat: no-repeat;
}
.containerIns{
    position: relative;
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), transparent, url(..\img\bg-image.jpeg) center center no-repeat);
    background-size: cover;
   margin-top: 10%;
  
}


section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}  

.form-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}
.form-wrapper .card{
    width:380px;
    padding: 20px;
    background-color:#e0e6ed; 
}

.card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 30px auto 0;
    font-size: 1.1rem;
    color: #071a33;
    box-shadow: 2px 3px 8px #94a1b1;
    border-radius: 50px;
}

.card-header .form-header {
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active{
box-shadow:inset 1px 1px 2px rgb(19 20 177 / 55%), inset -1px 1px 2px rgb(19 220 177 / 55%), inset -1px -1px 2px rgba(19, 137, 210, 0.55), inset 1px -1px 2px rgba(19, 127, 210, 0.55);
border-color: #0b4ea2;
cursor: pointer;
transition: border-color 0.3s, box-shadow 0.3s;
}
 
.card-body {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    padding: 40px 0;
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.card-body form {
    flex: 0 0 100%;
    width: 100%;
}
form{
    flex: 0 0 100%;
}

.card-body-wrapper {
    width: 100%;
    overflow: hidden;
    transition: height 0.5s ease;
}

.card-body-wrapper {
    width: 100%;
    overflow: hidden;
}

.forms-slider {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
    align-items: flex-start;
}


.forms-slider form {
    flex: 0 0 50%;
    width: 50%;
}

.card-body form {
    flex: 0 0 100%;
    width: 100%;
}

.form-control{
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(9, 38, 154, 0.65);
    background: none;
    outline: none;
    padding: 10px 5px;
margin-bottom: 20px;
color: #060404;
}

.form-control::placeholder{
    color: rgba(10, 3, 43, 0.884);
}

.formButton {
    display: block;
    margin: 1rem auto 0;
    border: 1px solid transparent;
    padding: 1rem 3rem;
    background-color: #0b4ea2;
    border-radius: 58px;
    font-size: 1rem;
    color: #e5eaf1;
    transition: transform 0.3s, box-shadow 0.3s;
}
.formButton:hover{
    box-shadow:3px 5px 115px #073570 ;
    transform: translateY(-5px);
}


.file-upload {
    width: 100%;
    margin-bottom: 20px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    min-height: 130px;

    border: 2px dashed #0b4ea2;
    border-radius: 15px;

    cursor: pointer;
    text-align: center;

    background-color: #f5f8fc;
    transition: 0.3s ease;
}

.file-label:hover {
    background-color: #eaf3ff;
    transform: translateY(-2px);
}

.file-label i {
    font-size: 40px;
    color: #0b4ea2;
    margin-bottom: 8px;
}

.file-title {
    font-size: 1rem;
    font-weight: 600;
    color: #071a33;
}

.file-info {
    font-size: 0.8rem;
    color: #4b5563;
    margin-top: 5px;
}


/* =========================
   FOOTER HEMIP
========================= */

.footer {
    background: #111c22;
    color: #fff;
    padding: 60px 7% 0;
    position: relative;
    overflow: hidden;
    margin-top: 49%;
}

/* Petite lumière décorative */
.footer::before {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    background: rgba(0, 123, 255, 0.15);
    border-radius: 50%;
    filter: blur(80px);
    top: -100px;
    right: -50px;
    pointer-events: none;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 50px;
    padding-bottom: 50px;
}

/* =========================
   LOGO
========================= */

.footer-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 20px;
}

.footer-logo img {
    width: 45px;
    height: 45px;
 
    border-radius: 50%;
}

.footer-logo span {
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
}

/* =========================
   SLOGAN
========================= */

.footer-slogan {
    max-width: 350px;
    color: #c9d7e8;
    font-size: 15px;
    line-height: 1.8;
}

/* =========================
   TITRES
========================= */

.footer-col h3 {
    font-size: 18px;
    margin-bottom: 22px;
    position: relative;
}

.footer-col h3::after {
    content: "";
    display: block;
    width: 35px;
    height: 3px;
    background: #168cff;
    border-radius: 10px;
    margin-top: 8px;
}

/* =========================
   CONTACT
========================= */

.footer-contact {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-contact li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.footer-contact i {
    font-size: 20px;
    color: #168cff;
}

.footer-contact a {
    color: var(--primary);
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s ease;
}

.footer-contact a:hover {
    color: var(primary-dark);
}

/* =========================
   RESEAUX SOCIAUX
========================= */

.social-text {
    color: #c9d7e8;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 12px;
}

.social-link {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 50%;

    color: #fff;
    text-decoration: none;

    transition: all 0.3s ease;
}

.social-link i {
    font-size: 20px;
}

.social-link:hover {
    background: #168cff;
    border-color: #168cff;
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(22, 140, 255, 0.3);
}

/* =========================
   FOOTER BOTTOM
========================= */

.footer-bottom {
    max-width: 1200px;
    margin: auto;

    border-top: 1px solid rgba(255,255,255,0.1);

    padding: 22px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-bottom p {
    margin: 0;
    color: #8fa4bd;
    font-size: 12px;
}

/* =========================
   RESPONSIVE TABLETTE
========================= */

@media (max-width: 800px) {

    .footer {
        padding: 50px 6% 0;
    margin-top: 150%;

    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .footer-about {
        grid-column: 1 / -1;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
    }

}

/* =========================
   RESPONSIVE MOBILE
========================= */

@media (max-width: 550px) {

    .footer {
        padding: 45px 7% 0;
    }

    .footer-container {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .footer-about {
        grid-column: auto;
    }

    .footer-logo img {
        width: 48px;
        height: 48px;
    }

    .footer-logo span {
        font-size: 22px;
    }

    .footer-slogan {
        font-size: 14px;
    }

    .footer-bottom {
        padding: 20px 0;
    }

    .footer-bottom p {
        line-height: 1.6;
    }
}

@media (min-width: 1000px) {
  .footer {
    margin-top: 89%;
}  
}

/* ============================= */
/* MESSAGE DE CONFIRMATION */
/* ============================= */

.message-succes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    max-width: 480px;

    background: #ffffff;
    border-radius: 18px;

    padding: 35px 30px;

    text-align: center;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.20);

    z-index: 10000;
}

.message-succes-icon {
    width: 75px;
    height: 75px;

    margin: 0 auto 20px;

    border-radius: 50%;

    background: #e8f7ee;

    display: flex;
    align-items: center;
    justify-content: center;
}

.message-succes-icon i {
    font-size: 42px;
    color: #168b55;
}

.message-succes h2 {
    font-size: 24px;
    margin: 0 0 15px;

    color: #222;
}

.message-succes p {
    font-size: 16px;
    line-height: 1.6;

    color: #555;

    margin: 8px 0;
}

.code-candidature {
    margin: 25px 0;

    padding: 15px;

    background: #f5f7f8;

    border-radius: 10px;
}

.code-candidature span {
    display: block;

    font-size: 13px;

    color: #777;

    margin-bottom: 7px;
}

.code-candidature strong {
    font-size: 20px;

    color: #168b55;
}

.message-succes button {
    margin-top: 10px !important;
    padding: 12px 30px !important;

    border: none !important;
    border-radius: 25px !important;

    background: #168b55 !important;
    color: white !important;

    font-size: 15px !important;

    cursor: pointer !important;

    transition: 0.3s !important;
}

.message-succes button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

.message-overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.35);

    z-index: 9999;

    animation: apparitionOverlay 0.3s ease forwards;
}

/* ============================= */
/* ANIMATIONS MESSAGE SUCCÈS */
/* ============================= */

@keyframes apparitionOverlay {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}


@keyframes apparitionMessage {

    from {
        opacity: 0;
        transform: translate(-50%, -40%) scale(0.92);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

}

/* ============================= */
/* ANIMATION FERMETURE */
/* ============================= */

.fermeture-message {
    animation: disparitionMessage 0.3s ease forwards;
}

.fermeture-overlay {
    animation: disparitionOverlay 0.3s ease forwards;
}


@keyframes disparitionMessage {

    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -45%) scale(0.92);
    }

}


@keyframes disparitionOverlay {

    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

}